# Copier ce fichier en .env et remplir avec les vraies valeurs.

# openweathermap.org API key
OPENWEATHERMAP_API_KEY=

# Cookie Booking
AWS_WAF_TOKEN=

# AWS S3 access key
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# AWS RDS credentials
AWS_RDS_INSTANCE_NAME=
AWS_RDS_DB_NAME=postgres
AWS_RDS_ENDPOINT=
AWS_RDS_PORT=5432
AWS_RDS_USER=
AWS_RDS_PASSWORD=
