# HuggingFace global
HF_TOKEN=

# HuggingFace MLflow serveur
HF_MLFLOW_REPO_URL_WITHOUT_HTTP=
HF_MLFLOW_SPACE_URL_WITHOUT_HTTP=
PORT=7860
# MLFLOW_FLASK_SERVER_SECRET_KEY value generated with command
# python -c "import secrets; print(secrets.token_hex(32))"
MLFLOW_FLASK_SERVER_SECRET_KEY=
ADMIN_USERNAME=
ADMIN_PASSWORD=
MLFLOW_TRACKING_URI=
MLFLOW_TRACKING_USERNAME=
MLFLOW_TRACKING_PASSWORD=

# HuggingFace FastAPI
HF_API_REPO_URL_WITHOUT_HTTP=
HF_API_SPACE_URL_WITHOUT_HTTP=

# Neon
BACKEND_STORE_URI=
NEON_USERNAME=
NEON_PASSWORD=
NEON_HOST=

# AWS S3
ARTIFACT_STORE_URI=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
